body {
  margin: 0;
  padding: 0;
  font-family:
    'Roboto',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: 0;
  padding: 0;
}

@import 'primereact/resources/themes/saga-green/theme.css';

/* @import "primereact/resources/themes/lara-light-blue/theme.css";
@import "primereact/resources/themes/bootstrap4-light-blue/theme.css";
@import "primereact/resources/themes/saga-blue/theme.css";
@import "primereact/resources/themes/saga-green/theme.css";
@import "primereact/resources/themes/md-light-indigo/theme.css";
@import "primereact/resources/themes/viva-light/theme.css"; */

@import 'primereact/resources/primereact.min.css';
@import 'primeicons/primeicons.css';
@import 'primeflex/primeflex.css';

@import 'flag-icons/css/flag-icons.min.css';
@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

  .card-item {
    transition: 0.25s ease;
    border-radius: 1.2rem !important; /* rounded-xl / PrimeFlex style */
    cursor: pointer;
  }

  /* Hover highlight */
  .card-item:hover {
    border: 2px solid #16a34a !important; /* Green border */
    box-shadow: 0 0 12px rgba(22, 163, 74, 0.55);
  }

  /* Selected highlight */
  .card-item-selected {
    border: 2px solid #16a34a !important;
    box-shadow: 
        0 0 18px rgba(22, 163, 74, 0.75),
        0 0 30px rgba(22, 163, 74, 0.45);
  }