body {
  margin: 0;
  padding: 0;
  font-family:
    'Roboto',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: 0;
  padding: 0;
}

@import 'primereact/resources/themes/saga-green/theme.css';

/* @import "primereact/resources/themes/lara-light-blue/theme.css";
@import "primereact/resources/themes/bootstrap4-light-blue/theme.css";
@import "primereact/resources/themes/saga-blue/theme.css";
@import "primereact/resources/themes/saga-green/theme.css";
@import "primereact/resources/themes/md-light-indigo/theme.css";
@import "primereact/resources/themes/viva-light/theme.css"; */

@import 'primereact/resources/primereact.min.css';
@import 'primeicons/primeicons.css';
@import 'primeflex/primeflex.css';

@import 'flag-icons/css/flag-icons.min.css';
@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';


.p-selectbutton .p-button.p-highlight {
  background-color: #00473C;
  border-color: #00473C;
}

.p-selectbutton .p-button.p-highlight:hover {
  background-color: #057642;
  border-color: #057642;
}